@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* CSS RESET STARTS */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

/* CUSTOM CSS STARTS */

::before, ::after, * {
	box-sizing: border-box;
}

:root {
	--primary-color: #29328C;
	--primary-color-transparent: rgba(228, 165, 13, 0.15);
	--primary-color-overlay: rgba(228, 165, 13, 0.76);
	--light-blue:#96b6b9;
	--dark-blue: #29328C;
	--dark-gray: #444444;
	--light-gray: #A9A9A9;
	--light-gray-transparent: rgba(169, 169, 169, 0.60);
	--black: #1A1818;
	--black-transparent: rgba(0, 0, 0, 0.6);
	--white: #ffffff;
	--offset: 1rem;
	--border-size: 2px;
	--gutter: 1rem;
	--grid: calc(100% / 9);
	--col-1: calc( var(--grid) * 1);
	--col-2: calc( var(--grid) * 2);
	--col-3: calc( var(--grid) * 3);
	--col-4: calc( var(--grid) * 4);
	--col-5: calc( var(--grid) * 5);
	--col-6: calc( var(--grid) * 6);
	--col-7: calc( var(--grid) * 7);
	--col-8: calc( var(--grid) * 8);
	--col-9: calc( var(--grid) * 9);
}

}

/* MAIN CSS STYLE*/

html {
	font-size: 1em;
}

body {
	font-size: 1rem;
	line-height: 1.618em;
	font-family: "Lato", sans-serif;
	color: black;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

p, h2, h3, h4, h5, h6 {
	max-width: 35rem;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: 'Lato', sans-serif;
}

/*Headers */

h1, .h1 {
	font-size: 5rem;
	line-height: 5.125rem;
	font-weight: 900;
	color: black;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media screen and (max-width: 720px) {
	h1, .h1 {
		font-size: 3rem;
	}
}

/*Subheads */

h2, .h2 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.382rem;
	font-weight: 500;
	color: var(--dark-blue);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*Subtitles */

h3, .h3 {
	font-size: 1.618em;
	line-height: 2.382rem;
	font-weight: 500;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: var(--dark-gray);
}

/*buttons */

h4, .h4 {
	font-size: 1rem;
	line-height: 1.1rem;
	font-weight: 500;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*footer title*/

h5, .h5 {
	font-size: 1rem;
	line-height: 1.1em;
	font-weight: 500;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: white;
}

/*footer description */

h6, .h6 {
	font-size: .8rem;
	line-height: .8rem;
	font-weight: 400;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: white;
}

p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7rem;
	margin-top: 1;
	margin-bottom: 1rem;
}

q {
	color: black;
	font-style: italic;
	font-weight: 500;
	quotes: '' '';
}

strong, b {
	font-weight: 500;
	color: black;
}

a:link {
	text-decoration: none;
}

a:link, a:hover, a:visited, a:active {
	color: black;
}

a:hover {
	color: var(--dark-blue);
}

label {
	cursor: pointer;
}

input {
	border: solid 1px var(--light-gray);
	border-radius: 2%;
	padding: 2px;
	height: 3em;
}

textarea {
	border: solid 1px var(--light-gray);
	border-radius: 1%;
	padding: 2px;
	height: 10em;
}

select {
	height: 3.5em;
}

button, #submit {
	border: none;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	background-color: var(--light-blue);
	color: white;
	font-family: inherit;
	font-size: 1rem;
	border-radius: 2rem;
	border: solid 2px transparent;
}

button:hover {
	color: white;
	background-color: white;
	border: solid 2px var(--dark-blue);
}

/* Navigation */

nav {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	align-content: center;
	width: 100%;
	background-color: white;
	box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.23);
	margin-bottom: 6px;
}

.top-bar {
	padding: .2rem 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--dark-blue);
	width: 100%;
	color: white;
	font-size: 5rem;
}

.top-bar .top-bar-align {
	padding-right: 1rem;
}

button .login {
	padding: 0px 10px;
	border-radius: 0;
}


nav .open {
	display: block !important;
}

nav a.navbar-brand {
	flex: 1 1 70%;
	max-width: 90%;
	margin-top: .5rem;
	background: url("../images/logo1.png") no-repeat 0 0/contain transparent;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 5rem;
	text-indent: -999999px;
}

nav button.navbar-toggler {
	background-color: var(--dark-blue);
	border: 0;
	padding: calc(1em / 1.618) 1em;
	color: var(--white);
	font-size: 1em;
	cursor: pointer;
	border-radius: 0;
}

nav .navbar-collapse {
	flex: 1 1 100%;
	max-width: 100%;
	display: none;
}

nav .navbar-collapse .navbar-nav, nav .navbar-collapse .dropdown-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

nav .navbar-collapse .navbar-nav .nav-item {}

nav .navbar-collapse .navbar-nav .nav-item .nav-link, nav .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-link {
	padding: calc(1em / 1.618) 1em;
	display: block;
	overflow: hidden;
	text-decoration: none;
}

.nodisplay {
	display: none;
}

.cart {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1rem;
	align-self: flex-end;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link {
	color: var(--black);
	text-align: right;
	border-bottom: 3px solid transparent;
	border-spacing: 1px;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
	color: var(--dark-blue);
	border-bottom: 3px solid var(--dark-blue);
	border-spacing: 1px;
}

@media screen and (max-width: 960px) {
	nav {
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.nodisplay {
		display: block;
	}
	.top-bar {
		display: none;
	}
}

@media screen and (min-width: 960px) {
	nav {}
	nav .navbar-collapse {
		display: block;
	}
	nav a.navbar-brand {
		flex: 0 0 3rem;
		max-width: 238px;
	}
	nav button.navbar-toggler {
		display: none;
	}
	nav .navbar-collapse {
		flex: 1 1 calc(100% - 238px);
		max-width: calc(100% - 238px);
	}
	nav .navbar-collapse .navbar-nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: flex-start;
		align-content: flex-start;
	}
	nav a.navbar-brand {
		background-position: center;
	}
}

/* End of Navigation */
footer {
	background-color: var(--primary-color);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	color: white;
	padding: 2rem;
}

footer .desktop {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: space-between;
	text-decoration: none;
}

footer a:link {
	color: white;
}

footer a:active {
	color: white;
}

footer a:visited {
	color: white;
}

.footer-one {
	align-items: center;
}

footer img {
	width: 10rem;
}

.tablet-mobile {
	display: none;
}

.footer-two {}

.footer-two h6 i {
	padding-right: 1rem;
}

.footer-four {
	align-items: center;
}

/* Social Media Icons */

.social-media {
	list-style-type: none;
}

.social-media .text {
	display: block;
	color: black;
}

.social-media li {
	display: inline-block;
}

.social-media li a {
	text-decoration: none;
	color: white;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: space-between;
}

.social-media li a:hover {
	color: var(--dark-blue);
}

.social-media li a i {
	font-style: normal;
	font-size: 1.5rem;
	line-height: 1.5rem;
}

@media screen and (max-width: 960px) {
	footer .desktop {
		display: none;
	}
	.tablet-mobile {
		display: flex;
	}
	.footer-mobile {
		width: 100%;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	.footer-mobile-one {
		padding-right: 3rem;
	}
}

.footer-company-name {
	text-align: center;
}

/*End of Footer */


/*start of grid*/

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}

.row {
	margin-left: -1rem;
	margin-right: -1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7 .col-sm-8, .col-sm-9, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7 .col-md-8, .col-md-9, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7 .col-lg-8, .col-lg-9, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7 .col-xl-8, .col-xl-9 {
	width: 100%;
	max-width: 100%;
}

.col-xs-1 {
	flex: 0 0 var(--col-1);
	max-width: var(--col-1);
}

.col-xs-2 {
	flex: 0 0 var(--col-2);
	max-width: var(--col-2);
}

.col-xs-3 {
	flex: 0 0 var(--col-3);
	max-width: var(--col-3);
}

.col-xs-4 {
	flex: 0 0 var(--col-4);
	max-width: var(--col-4);
}

.col-xs-5 {
	flex: 0 0 var(--col-5);
	max-width: var(--col-5);
}

.col-xs-6 {
	flex: 0 0 var(--col-6);
	max-width: var(--col-6);
}

.col-xs-7 {
	flex: 0 0 var(--col-7);
	max-width: var(--col-7);
}

.col-xs-8 {
	flex: 0 0 var(--col-8);
	max-width: var(--col-8);
}

.col-xs-9 {
	flex: 0 0 var(--col-9);
	max-width: var(--col-9);
}

@media screen and (min-width:576px) {
	.col-sm-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}
	.col-sm-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}
	.col-sm-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}
	.col-sm-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}
	.col-sm-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}
	.col-sm-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}
	.col-sm-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}
	.col-sm-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}
	.col-sm-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}
}

@media screen and (min-width:768px) {
	.col-md-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}
	.col-md-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}
	.col-md-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}
	.col-md-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}
	.col-md-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}
	.col-md-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}
	.col-md-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}
	.col-md-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}
	.col-md-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}
}

@media screen and (min-width:992px) {
	.col-lg-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}
	.col-lg-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}
	.col-lg-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}
	.col-lg-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}
	.col-lg-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}
	.col-lg-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}
	.col-lg-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}
	.col-lg-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}
	.col-lg-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}
}

@media screen and (min-width:1200px) {
	.col-xl-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}
	.col-xl-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}
	.col-xl-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}
	.col-xl-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}
	.col-xl-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}
	.col-xl-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}
	.col-xl-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}
	.col-xl-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}
	.col-xl-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}
}

/* Grid system ends*/

/*start of hero component*/
/*start of get quote */

.herocareer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
	background-color: var(--primary-color);
}

.herocareer div {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex: 1 1 250px;
	margin: 10px;
	border-radius: 5px;
	padding: 50px 50px 50px 50px;
}

.section {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.boxes {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.section, .boxes {
	flex: 1 1 300px;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.herocareer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 5vh;
	width: 30em;
	height: 30em;
	position: relative;
}

.herocareer img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	object-fit: cover;
	object-position: center;
	z-index: -1;
}
.section.boxes h2 {
	color: white;
	font-size: 3.25em;
	text-align: center;
	line-height: 3rem;
}

.section.boxes p {
	color: white;
	font-size: 1.35em;
	text-align: center;
	max-width: 80%;
	line-height: 2rem;
}

@media only screen and (max-width:650px) {
	.section-boxes img {
		width: 100%;
	}
	
}

@media only screen and (max-width:1024px) {
	.specials-box img {
		width: 100%;
	}
}

/*end of hero component*/

/*start of specials */

main .services-boxes {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}

.services-boxes img {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	flex-flow: column;
}

.services-header {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.services-header h2 {
	color: var(--primary-color);
	text-align: center;
	font-weight:bold;
}

.services-header hr {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	background-color: var(--primary-color);
	width: 133px;
	height: 7px;
	border-radius: 50px;
}

.box {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 8px;
	overflow: hidden;
}

.box img {
	width: 100%;
	transition: all linear 0.7s;
}

img.hover-img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.box:hover img {
	opacity: 0;
}

.box:hover img.hover-img {
	opacity: 1;
}

@media only screen and (max-width:650px) {
	.services-boxes img {
		width: 100%;
	}
	.services-header h2 {
		text-align: center;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-flow: row;
	}
}

@media only screen and (max-width:1024px) {
	.services-box img {
		width: 100%;
	}
}

/*end of specials*/

fieldset {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.home-contact-image-container {
	display: none;
}

.home-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

.home-form form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

.home-form form .form-row {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	width: 100%;
}

.home-form button, .home-form input, .home-form textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

.form-check {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.form-check label {
	font-family: Roboto, sans-serif;
	font-weight: 700;
}

.home-form form .form-group {
	margin-bottom: 1.5rem;
	width: 80%;
}

.home-form form .form-control {
	display: block;
	width: 100%;
}

#submit {
	width: 100%;
	height: 60px;
}

.home-form h2 {
	color: var(--black);
	font-weight: bold;
}

.home-form hr {
	display: block;
	background-color: var(--dark-blue);
	width: 133px;
	height: 7px;
	border-radius: 50px;
}

.home-submit {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.home-submit .fab.fa-facebook-square {
	font-size: 2em;
	padding-right: 10px;
}

.home-submit button {
	background-color: #475993;
	width: 100%;
	height: 60px;
	border-radius: 2%;
	border: none;
	margin: 2.5%;
}

.sign-in-submit button a:hover {
	color: #475993;
	padding: 0;
	text-decoration: none!important;
}

.sign-in-submit button:hover {
	background-color: var(--white);
	border: solid 2px #475993;
	padding: 0;
	color: #475993;
}

.home-submit button a {
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.contact-image-container {
	display: none;
}

@media screen and (min-width:576px) {
	#submit {
		width: 259px;
		height: 51px;
		align-self: center;
	}
	#submit:hover {
		background-color: var(--white);
		border: solid 2px var(--dark-blue);
	}
	.sign-in-submit #submit:hover, .home-submit #submit:hover {
		background-color: var(--white);
		border: solid 2px var(--dark-red);
		color: var(--dark-red);
		padding: 0;
	}
}

@media screen and (min-width:768px) {
	.contact-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.contact-image-container .home-contact-image, .contact-image-container .home-contact-image picture, .contact-image-container .home-contact-image picture img {
		width: 100%;
		margin-top: 2%;
	}
}

@media screen and (min-width:992px) {
	.home-contact-image-container, .contact-image-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		align-content: flex-end;
		overflow: hidden;
		height: 80vh;
		margin: 5vh 0;
	}
	.home-contact-image {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		width: 90%!important;
		height: 80vh;
	}
	.home-contact-image img {
		width: 100%;
	}
	.form-check {
		align-items: space-around;
		justify-content: flex-start;
		align-content: space-between;
	}
	.home-form hr {
		margin-bottom: 5%;
	}
	.home-form {
		margin: 5vh 0;
	}
}

}

@media screen and (min-width:1200px) {}

/*home contact form ends*/

/*Popup form starts*/

.hidden {
	display: none!important;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: hsla(0, 100%, 0%, 0.7);
}

.popup-container {
	width: 90%;
	background: white;
	padding: 2rem;
	margin: 0;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: flex-start;
	justify-content: center;
}

.popup-close {
	align-self: flex-end;
	border-radius: 50%;
	background-color: var(--dark-blue);
	border: 0;
	height: 40px;
	width: 40px;
	color: var(--white);
	font-size: 1em;
	border: solid 2px transparent;
}

.popup-container img {
	width: 100%;
}

.popup-close:hover {
	background-color: var(--white);
	color: var(--dark-red);
	border: solid 2px var(--dark-=blue);
}

.popup-container h2 {
	color: var(--light-blue);
	font-size: 3em;
}

@media screen and (min-width:768px) {
	.popup-container {
		width: 60%;
	}
}

@media screen and (min-width:992px) {
	.popup-container {
		width: 40%;
	}
}

/*Pop up ends*/
/*Banner*/
.banner img {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100%;
	position: relative;
	margin-top:25px;
}
/*banner end*/